* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 1;
    width: 100%;
    background-color: rgb(52, 52, 52);
}

header h1,
header p {
    color: rgb(242, 242, 242)
}

header h1 {
    margin-left: 30px;
}

.rest {
    display: flex;
    flex-grow: 1;
}

.box {
    background-color: rgba(0,0,0,.7);
    padding: 10px;
}

.box ul {
    height: 100%;
    gap: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.box ul li {
    display: flex;
    flex-grow: 1;
}

.box button {
    flex-grow: 1;
}

img {
    width: 100%;
}

.message {
    position: absolute;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 20px;
    z-index: 1;
}

.game {
    display: flex;
    justify-content: center;
}